<section class="thirteen columns">
  <h1>ACHIEVEMENTS</h1>
  <article>
    <header>
    <p>EnRedarte-Programming Contest</p>
      <address>First Place (Individually)</address><time>2010</time>

    </header>
  </article>
  <article>
    <header>
      <p>Qualified to National Programming Contest ACIS/REDIS</p>
      <span><time>2010 & 2011</time></span>
    </header>
  </article>
  <article>
    <header>
      <p>Qualified to Latin America Programming Contest ACIS/REDIS</p>
      <span><time>2010 & 2011</time></span>
    </header>
  </article>
  <article>
    <header>
      <p>Programming Contest, Politécnico JIC,</p>
      <span><address>First Place</address><time>2010, 2011, 2012</time></span>
    </header>
  </article>
  <article>
    <header>
      <p>Honorable mention for meritorious University graduation project</p>
      <span><time>2012</time></span>
    </header>
  </article>
</section>
