<section class="thirteen columns">
  <h1>Education</h1>
  <article>
    <header>
      <h1>Informatic Engineering 2012</h1>
      <span>Politécnico Colombiano Jaime Isaza Cadavid</span>
      <span><address>Medellin, Colombia</address><time>2012</time></span>
    </header>
    <p>
      <em>Final CGPA: 4.0 / 5.0</em>
    </p>
  </article>
  <article>
    <header>
      <h1>Foundational Computer Science Course (An Industry Perspective)</h1>
      <span>Infosys Limited</span>
      <span><address>Mysore, india</address><time>2012</time></span>
    </header>
    <p>
      <em>Final CGPA: 4.9 / 5.0.</em>
    </p>
  </article>
</section>
