<section class="thirteen columns">
  <h1>Employment</h1>
  <article>
    <header>
      <h1>Freelance Developer</h1>
      <span><address>Medellin, Colombia</address><time>2013 to Present</time></span>
    </header>
    <p>I’m working as a freelance developer for USA and Colombian clients mostly using Ruby on Rails
      and EmberJs </p>
    </article>

    <article>
      <header>
        <h1>From The Farmer DC</h1>
        <span><address>Remote Developer - Contractor</address><time>June 2015 – January 2016</time></span>
        <div> <a href="http://fromthefarmerdc.com/" target="_blank">http://fromthefarmerdc.com/</a> </div>
      </header>
      <p>From the Farmer delivers farm-fresh fruits and vegetables to your home, which means
        eating fresh and seasonal in the D.C. area is now as easy as opening your front door.
      </p>
      <p>
        <strong>Stack: </strong>Rails-Api, EmberJs, Heroku, Stripe, Customer.io, Mixpanel, Codeship
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Add new features to an API using Ruby on Rails.</li>
          <li>• Add new features to two Ember applications (client and admin)</li>
          <li>• Write tests using tools like rspec and mocha</li>
          <li>• Integrate third party APIs like Stripe, Customer.io, MixPanel</li>
        </ul>
      </p>
    </article>

    <article>
      <header>
        <h1>Stack Builders </h1>
        <span><address>Remote Developer - Contractor</address><time>October 2014 – May 2015</time></span>
      </header>
      <strong>Main Project:  New York Water Taxi</strong>
      <div> <a href="http://www.nywatertaxi.com/" target="_blank">http://www.nywatertaxi.com/</a> </div>
      <p>New York Water Taxi provides the most exciting and entertaining NYC boat tour.
      </p>
      <p>
        <strong>Stack: </strong>Ruby on Rails, Apache, Passenger, AWS, Capistrano, CircleCI
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Add new features to an application using Ruby on Rails and Js/Coffee without frameworks.</li>
          <li>• Write tests using tools like rspec, vcr, jasmine</li>
          <li>• Integrate third party APIs like Braintree and Centaman</li>
          <li>• Deploy application using capistrano to EC2 AWS</li>
        </ul>
      </p>
    </article>

    <article>
      <header>
        <h1>YuxiPacific – Apex Supply Chain </h1>
        <span><address>Lead Developer</address><time>February 2014 – August 2014</time></span>
      </header>
      <strong>Main Projects:</strong>
      <div><strong>1. Touch App</strong></div>

      <p>Inventory and access control application that runs in a touch display and read sensors
        connected to hardware like lockers and vending machines using the serial-port
      </p>
      <p>
        <strong>Stack: </strong>Ruby on Rails, BackboneJs, Postgres, Redis, Chef, Capistrano, Apache, Passenger.
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Add new features to an application using Ruby on Rails and BackboneJs.</li>
          <li>• Write integration tests using Cucumber and Capybara.</li>
          <li>• Write a a plain ruby application to send messages to a serial-port and send the data through redis db.</li>
          <li>• Create a custom cookbook for install all the dependencies for 3 projects using chef.</li>
          <li>• Estimate and assign work for the team, and be in charge of the code review process.</li>
        </ul>
      </p>

      <!-- 2 -->

      <div><strong>2. Sniffer</strong></div>

      <p>Application to capture traffic between hardware and the Touch App using the serial-port
      </p>
      <p>
        <strong>Stack: </strong>AngularJS, Ruby on Rails, SQLite, Chef, Apache, Passenger.
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Create a plain ruby app to read from serial-port and expose a Websocket</li>
          <li>• Create an Angular app to consume Websockets and a JSON API.</li>
          <li>• Estimate and assign work for the team, and be in charge of the code review process.</li>
        </ul>
      </p>
    </article>

    <article>
      <header>
        <h1>Linden Colombia – Victory Productions </h1>
        <span><address>Full Stack Developer </address><time>March 2013–February 2014</time></span>
      </header>
      <strong>Main Project:  Eduwidgets</strong>
      <div> <a href="http://eduwidgets.org/" target="_blank">http://eduwidgets.org/</a> </div>
      <p>Authoring tools to create interactive widgets with custom content for students and teachers of Virginia Department of Education
      </p>
      <p>
        <strong>Stack: </strong>Ruby on Rails, AngularJS, Postgres, Highcharts, Fabric.js and Html5, Capistrano, Nginx,
        Passenger
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Develop an API/JSON RESTful in Ruby on Rails.</li>
          <li>• Package all the backend applicationin a rails engine to be used as a gem for future projects.</li>
          <li>• Write a full suite of test using Rspec</li>
          <li>• Write the full deploy of the application to EC2 using capistrano.</li>
          <li>• Develop interactive widgets using AngularJS, Highcharts, Fabric.js and Html5</li>
        </ul>
      </p>
    </article>

    <article>
      <header>
        <h1>EAFIT University </h1>
        <span><address>Full-Time Research Assistant (Developer) </address><time>December 2010 – July 2012</time></span>
      </header>
      <strong>Main Project:  BDNG System</strong>

      <p>System for a search engine to the Ministry of National Education in Colombia, basically it collect
        Learning Objects (xml files in different metadata types) from universities around the country and
        process into a specific format, then index all this objects in a NoSql database (exist) and then make
        different query's on it using Xquery language.
      </p>
      <p>It was deployed in production for REDA and BDCOL projects</p>
      <p>
        <strong>Stack: </strong>J2SE, Java, Jsp, exist-db, Xquery, Javascript,
      </p>
      <p>
        <strong>Main functions: </strong>
        <ul>
          <li>• Develop core system using J2SE.</li>
          <li>• Develop user system using Xquery.</li>
          <li>• Design and Develop the UI backend using JSP & JS.</li>
          <li>• Management of NoSQL database, eXist-db.</li>
        </ul>
      </p>
    </article>
  </section>
</section>
