<section class="thirteen columns">
  <h1>Programming Skills</h1>
  <article>
    <ul>
     <li> • Proficient with Web Development using  <strong> Ruby on Rails – Rails-API </strong></li>
     <li> • Familiar with TDD and BDD (Rspec, Capybara, Cucumber, Jasmine, Mocha, QUnit)</li>
     <li> • Familiar with HTML, Javascript, CoffeeScript, Node.js, ES6, AngularJs,  <strong>  EmberJs  </strong></li>
     <li> • Familiar with mobile Development using Phonegap, Ionic, AngularJs.</li>
     <li> • Familiar with databases PostgreSQL, Redis</li>
     <li> • Familiar with GNU/Linux, Mac OS X</li>
     <li> • Familiar with technologies such as Git</li>
     <li> • Familiar with server deployment using Chef, Capistrano</li>
     <li> • Familiar with server configuration using Ngnix, Passenger, Unicorn, Puma</li>
     <li> • Familiar with VPS like DigitalOcean, Linode, EC2, Heroku</li>
   </ul>
 </article>
</section>
